.caption {
color:#888877;
font-style:italic;
}
.demo {
margin-top:2em;
position:relative;
}
.gallery_demo {
margin:0 auto;
width:702px;
}
.gallery_demo li {
background:#494949 none repeat scroll 0 0;
border:3px double #111111;
height:50px;
margin:0 3px;
width:68px;
}
.gallery_demo li div {
left:240px;
}
.gallery_demo li div .caption {
-x-system-font:none;
font-family:georgia,serif;
font-size:0.7em;
font-size-adjust:none;
font-stretch:normal;
font-style:italic;
font-variant:normal;
font-weight:normal;
line-height:1.4;
}
#main_image {
background:black none repeat scroll 0 0;
height:438px;
margin:0 auto 60px;
width:700px;
}
#main_image img {
margin-bottom:10px;
}
ul.gallery_demo {
padding-left:0;
margin-top:10px;
}